@mixin fullcenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin justifycenter(){
    display: flex;
    justify-content: center;
}

@mixin aligncenter(){
    display: flex;
    align-items: center;
}

@mixin flexcolumn(){
    display: flex;
    flex-direction: column;
}

@mixin media($breakpoint) {
    @if $breakpoint == tablet {
      @media (max-width: 1024px) { @content; }
    } @else if $breakpoint == small-tablet {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == mobile {
      @media (max-width: 480px) { @content; }
    }
  }