.description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px;

    .__img {
        width: 25%;
        border-radius: 50%;
    }

    .__paragraphe {
        width: 500px;
        margin-left: 50px;

        h1 {
            font-size: 50px;
            color: #05396f;
            margin: 20px 0;
        }

        h2 {
            font-size: 28px;
            color: #4e7aa8;
        }

        p {
            font-size: 17px;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
          
            a {
              font-size: 1.8rem;
              color: #05396f; 
              transition: color 0.3s ease;
          
              &:hover {
                color: #4e7aa8; 
              }
            }
          }
    }

    


}
