.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    position: relative;
    z-index: 1;

    .carousel {
        position: relative;
        width: 60vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .carousel-item {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 12px;
            width: 100%;
            max-width: 600px;
            height: 400px;
            overflow: hidden; 

            .image-wrapper {
                position: relative; /* Pour positionner l'overlay */
                width: 100%;
                max-width: 600px;
                height: 350px; /* Hauteur de l'image */
                border-radius: 12px;
                overflow: hidden; /* Pour limiter l'effet de l'overlay à l'intérieur des bords arrondis */
            }
        
            .carousel-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: transform 0.5s ease;
                cursor: pointer;
            }
        
            .carousel-image:hover {
                transform: scale(1.1);
            }
        
            .carousel-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 31, 64, 0.75);
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                opacity: 0;
                transition: opacity 0.3s ease;
                pointer-events: none; 
            }
        
            .image-wrapper:hover .carousel-overlay {
                opacity: 1;
            }
        
            .project-title {
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: bold;
                color: #05396f;
            }
        }

        .carousel-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            background-color: rgba(5, 57, 111, 0.7);
            padding: 10px 7px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 0.7rem;

            &.left {
                left: 10px;
            }

            &.right {
                right: 10px;
            }

            &:hover {
                background-color: rgba(5, 57, 111, 1);
            }
        }
    }
}

/* Empêche le défilement en cachant le débordement */
.no-scroll {
    overflow: hidden;
}