html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #d8eafc;
    font-family: 'Jost';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #05396f;
}

h2 {
    font-size: 2rem;
}